/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* shared and global styles */
*{
    font-family: 'DM Sans';
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* applies to everything */
.center{     
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

/* center (position and transform way) */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* header style */
.masthead {
    height: 100vh;
    min-height: 500px;
    /* background-image: linear-gradient( 89.8deg,  rgba(39,115,255,1) 4.3%, rgba(62,211,232,1) 101.4% ); */
    background-color: #0e2439;
    color: black;
}

.avatar{
    width: 280px;
    height: 364px;
    filter: drop-shadow(0 0 10px #333);
}


/* slider style */
.slide-1{
    background-color: yellow;
}

.slide-2{
    background-color: red;
}

.slide-3{
    background-color: orange;
}

.splide__slide {
	width : 100%;
    height: auto;
    border-radius: 10px;
    padding:15px;
}

.splide{
    margin-bottom: 90px;
}

/* drawing, illustrations style */
.grid-item {  
    position: relative;
    height: 0;
    padding-bottom: 31.33%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}


.illustrationthumbnails{
    background-color:whitesmoke;
    min-height: 250px;
    padding-bottom: 55px;
    
}


/* color style */
.textcolor-purpleshade {
    color: #294052
}

.illustration-image{
    width: 100%;
    object-fit: cover;
    z-index: 1000;
}
/* lets get in touch style */

.letswork{
    height: 50vh;
    background-color: #03045E;
    font-size: 32px;
    font-family: 'DM Sans';
    font-weight: 500;
    color: white;
}
.designer, .coder{
    color:yellow;
}

.information{
    height: 50vh;
    background-color: #FFE7E7;
    color: #03045E;
    font-family: 'DM Sans';



}

.information div{
    line-height: 0.5em;
}

.information div p{
    font-size: 18px;
}

.custom-col-4 {
    width:31.33%;
    margin:1% 1%;
}



/* media queries */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .avatar{
        width: 140px;
        height: 182px;
    }

    .letswork{
        font-size: 30px;
    }


    .information div h2{
        font-size: 25px;
    }

    .information div p{
        font-size: 18px;
    }


}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}